# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file = "output_data/cities.csv"


df = pd.read_csv(file)

df.head()

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Date
0,0,nome,64.50,-165.41,-0.40,77,90,17.22,1580591349
1,1,atuona,-9.80,-139.03,81.57,75,0,18.92,1580591350
2,2,lebu,-37.62,-73.65,65.89,80,93,6.98,1580591350
3,3,natal,-5.79,-35.21,82.40,83,75,9.17,1580591233
4,4,khatanga,71.97,102.50,-29.36,96,55,10.80,1580591350

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = df[["Lat", "Lon"]]
humidity = df["Humidity"]
fig =gmaps.figure(center=(46.0,-5.0),zoom_level=2)
heat_layer=gmaps.heatmap_layer(locations,humidity,dissipating=False,max_intensity=300,point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
ideal_cities = df.loc[(df["Max Temp"]>=70)&(df["Max Temp"]<= 80)&(df["Wind Speed"]<10)&(df["Cloudiness"]==0)]
ideal_cities.head()

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Date
47,47,ponta do sol,32.67,-17.10,70.00,42,0,4.70,1580591354
55,55,arlit,18.74,7.39,70.63,13,0,9.55,1580591355
98,98,saint-pierre,-21.34,55.48,78.80,78,0,6.93,1580591359
135,135,tessalit,20.20,1.01,70.79,12,0,9.17,1580591363
250,250,gunjur,13.20,-16.73,78.80,54,0,8.05,1580591374

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
hotel_df = ideal_cities[["City","Lat","Lon"]].copy()
hotel_df["Hotel Name"]=""
hotel_df

             City    Lat    Lon Hotel Name
47   ponta do sol  32.67 -17.10
55          arlit  18.74   7.39
98   saint-pierre -21.34  55.48
135      tessalit  20.20   1.01
250        gunjur  13.20 -16.73
273        mattru   7.62 -11.83
305       itarema  -2.92 -39.92
344        canico  32.63 -16.85
347      araouane  18.90  -3.53
368         kidal  18.44   1.41
481         binga -17.62  27.34
513  saint-joseph -21.37  55.62
562        ormara  25.21  64.64

In [8]:
params={
    "radius":5000,
    "types":"lodging",
    "key":g_key
}

for index,row in hotel_df.iterrows():
    lat = row.Lat
    lon = row.Lon
    
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    parms["Location"]=f"{lat},{lon}"
    res=requests.get(url,params=params)
    res=res.json()
    print(res)
    try:
        hotel_df.loc[index,"Hotel Name"]=res["results"][0]["name"]
    except(KeyError,IndexError):
        print("missing field/results...  skipping")

fig

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
missing field/results...  skipping
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
missing field/results...  skipping
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
missing field/results...  skipping
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
missing field/results...  skipping
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
missing field/results...  skipping
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
missing field/results...  skipping
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
missing field/results...  skipping
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
missing field/results...  skipping
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
missing field/results...  skipping
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
missing field/results...  skipping
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
missing field/results...  skipping
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
missing field/results...  skipping
{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}
missing field/results...  skipping

Figure(layout=FigureLayout(height='420px'))

In [12]:
params['Location'] = f'32.67,-17.10'
params

{'radius': 5000,
 'types': 'lodging',
 'key': 'AIzaSyBTLrhKZveUP5uuOlHWsyU_0Cw0AV7toAA',
 'Location': '32.67,-17.10'}

In [15]:
requests.get(url,params).url

'https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&key=AIzaSyBTLrhKZveUP5uuOlHWsyU_0Cw0AV7toAA&Location=32.67%2C-17.10'

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map